/*top-header*/
.top-header{
	color: #fff;
	background: #F03C02;
}

.top-header ul{
	margin-top: 30px;
}

.top-header ul li{
	list-style: none;
	display: inline;
	margin: 0 20px 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
}
.top-header ul li strong{
	font-size: 14px;
	font-weight: 700;
}
.open{
	width: 33px;
	height: 28px;
	position: absolute;
	background-color: #F03C02;
	right: 50px;
	cursor: pointer;
}
.open span{
	height: 3px;
	width: 15px;
	margin: 0 auto;
	background-color: #fff;
	position: absolute;
	left: 9px;
	margin-top: 5px;
}

.open span:nth-child(1){
	transform: rotate(90deg);
	top: 5px;
	display: none;
}

.open span:nth-child(2){
	top: 5px;
}

/*header-signup*/
.header-signup ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;

}
.icon-user{
	font-size: 12px;
	margin-right: 3px;
}
.header-signup ul li a{
	text-decoration: none;
	display: block;
	color:#F03C02;
	font-size: 12px;
	font-weight: 500;
}

/*start of header section*/

.site-header{
	width: 100%;
	background-color: #fff;
	z-index: 999;

}

.logoimage{
	max-width: 180px;
}
.logoimage p{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}

.sitenav{
	background: #333;
}
.sitenav ul li{
	list-style-type: none;
	margin: 5px 0;
}
.sitenav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	display: block;
}
.sitenav ul li a:hover{
	color: #F03C02;
}
.sitenav ul li:nth-child(1) a{
	color: #F03C02;
	font-weight: 500;
}
.icon-ctrl{
	transform: rotate(360deg);
	top:5px;
}

.humbergarBtn{
	width: 35px;
	height: 30px;
	position: absolute;
	color: #fff;
	border: none;
	top: 0;
	bottom: 0;
	margin:0 auto;
	right: 35px;

}
.humbergarBtn span{
	width: 30px;
	height: 2px;
	position: absolute;
	background-color: #333;
	left: 1px;


}
.humbergarBtn span:nth-child(1){
	top:5px;

}
.humbergarBtn span:nth-child(2){
	top:10px;
	
}
.humbergarBtn span:nth-child(3){
	top:15px;
	
}

.dropdown {

}
.dropdown li{
	list-style-type: none;
	/*display: block;*/
}
ul.dropdown li a{
	text-decoration: none;
	color: #fff;
}




/*First-section*/
.main-sec{
	background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../img/slides/nivo/bg-1.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}
.main-sec1{
	background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../img/slides/nivo/bg-2.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}
.main-sec2{
	background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../img/slides/nivo/bg-3.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}

.responsive a{
	padding: 5px 15px;
	color: #fff;
	border: 1px solid #F03C02;
    background: #F03C02; 	
    font-size: 12px;
    text-transform: uppercase;
    
}
.responsive{
	position: absolute;
    background-color: #000;
    width: 90%;
    top: 38px;
    padding: 5px 10px;
    color: #fff;
    border-bottom: #F03C02 5px solid;
    opacity: 0.8;
}

.responsive h2{
	font-size:22px;
	font-weight: 300;
}
.responsive h2 strong{
	font-weight: 700;
}
.responsive p{
	font-size: 14px;
}



/*2nd section request-sec*/

.request-sec{
	padding: 50px 0;
	width: 100%;


}
.year-text{
	padding-bottom: 20px;
}
.year-text h2{
	font-weight: 300;
	font-size:34px;
	text-align: center;
}
.year-text h2 strong{
	font-weight: 700;
	color: #F03C02;
}
.request-div{
	text-align: center;
}
.request-btn{
	padding: 10px 25px;
	border: none;
	background: #F03C02;
	color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
	text-decoration: none;
}
.request-btn:hover{
	background-color: #333;
	color: #fff;
	text-decoration: none;
	-webkit-animation: request-btn:hover 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: request-btn:hover 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-11 14:10:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes request-btn:hover {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes request-btn:hover {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


.icon-box{ 
	color:#fff;
	background-color:#F03C02;
	border-radius: 50px; 
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.icon-box:hover{
	background-color: #333;
}
.icon-display1{
	font-size: 40px;
	color:#fff;
	display: inherit;
	padding-top: 10px;
	
}
.bussines-box h2{
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 20px;
}
.bussines-box p{
	margin: 0 0 10px;
	color: #656565;
	font-size: 14px;
}
.bussines-box a{
	text-decoration: none;
	color: #F03C02;


}
.border-bottom{
	padding-bottom: 50px;
	margin-top: 20px;
}

/*3rd section recent-work-sec*/

.recent-work-sec{
	padding: 50px 0;
	width: 100%;
}
.recent-work-sec h2{
	font-size: 32px;
	font-weight: 400;
}
.recent-work-sec h2 strong{
	font-weight: 700;
}
.work-image{
	max-width: 480px;
}
.overflow{
	background: #F03C02;
	position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    top: 0;
    display: none;
    webkit-animation: overflow 1s ease-out both;
	        animation: overflow 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-11 13:38:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-ver
 * ----------------------------------------
 */
@-webkit-keyframes overflow{
  0% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0.8;
  }
}
@keyframes overflow {
  0% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0.8;
  }
}

 .work-image:hover .overflow{
 	display: block;
 }



/*4th section*/

.client-sec{
	padding: 50px 0;
	width: 100%;
}
.client-sec h2{
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}
.client-sec h2 strong{
	font-weight: 700;
}
.clientimg{
	    border: 4px solid #e9e9e9;
}
.clientimg a{
	display: block;
	text-decoration: none;
}

/*footer section*/
.footer-section{
	padding: 50px 0;
	width: 100%;
	background: #111;
	text-align: center;
}
.footer-section h2{
	font-size: 24px;
	font-weight: 300;
	color: #eee;
	margin-bottom: 20px;
}
.footer-section ul li{
	list-style-type: none;
	margin-bottom: 5px;

}
.footer-section ul li a{
	text-decoration: none;
	color: #919191;
}
.footer-section ul li a:hover{
	color:#F03C02;
	font-weight: 100;
}
.footer-section p{
	font-size: 14px;
	color: #919191;
	margin-bottom: 5px;
}
.footer-section h3{
	font-weight: 500;
	font-size: 14px;
	color: #919191;
}

.smlimg{
	width: 100%;
}
.smlimg img{
	width: 50px;
  	height: 50px;
	float: left;
  	margin: 0 9px 20px 0;
}
.end-footer{
	background-color: #0a0a0a;
	padding: 20px 0;
	text-align: center;
}
.end-footer h2{
	font-size: 14px;
	color: #919191;
}
.end-footer p{
	font-size: 14px;
	color: #919191;
}

.end-footer ul li{
	list-style-type: none;
	display: inline-block;
}
.end-footer ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	background-color: #444;

}

@media(min-width: 576px){

}

@media(min-width: 768px){
	.sitenav ul li{
		display: inline-block;
		margin: 0 5px;
	}

		.sitenav ul li a{
		color: #111;
	}
	.dropdown{
		transition: 1s ease;
	}

	ul.dropdown{
		display: none;
		 position: absolute;
		 padding: 33px 0;
		 width: 200px;
		 top: 6px;
		 left: 0;

	}
	.dropdown li{
		list-style-type: none;
		display: none;
		width: 200px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #333;
		padding-left: 5px;

	}
	nav ul li:hover ul{
		display: block;
	}
	 .sitenav{
		background: none;
	}
	 ul.dropdown li a{
		text-decoration: none;
		color: #fff;
	}





	.main-sec{
		height: 250px;
	}
	.responsive h2{
		font-size:26px;
	}
	.responsive {
	    top: 0;
	    width: 50%;
	    padding: 15px 20px;
	    left: 80px;
	}

	.year-text h2{
		text-align: left;

	}
	.request-btn{
		padding: 10px 17px;
	
	}
	.footer-section{
		text-align: left;
	}
	.end-footer{
		text-align: left;
	}


}

@media(min-width: 992px){
	.sitenav ul li{
		margin: 0 10px;
	}
	.main-sec{
		height: 300px;
	}
	.responsive {
	    top: 42px;
	    width: 35%;
	    padding: 15px 20px;
	}


	/*2nd section request-sec*/
	.year-text h2{
		font-size:32px;
	}
	.request-btn{
		padding: 10px 25px;
	
	}
}

@media(min-width: 1200px){
	.main-sec{
		height: 400px;
	}
	.responsive {
	    top: 160px;
	    width: 35%;
	    padding: 15px 20px;
	}
}

@media(min-width: 1400px){
	
}