
.topbar p{
  color: #747474;
  font-size: 14px;
  margin: 0;
}

.contactdtl{
  padding: 0;
  margin: 0;
}

.contactdtl li{
  display: inline-block;
  list-style-type: none;
}

.contactdtl li a{
  text-decoration: none;
  color: #747474;
  font-size: 14px;
  padding: 1px 3px;
  display: block;
}

.sitelogo{
  max-width: 180px;
}

.contactdtl li span{
  
}


.sitenav{

}

.sitenav ul li{
  display: block;
  list-style-type: none;
  margin:5px 0;
}

.sitenav ul li a{
  display: block;
  color: #747474;
}

.sitenav ul li:nth-child(6) a{
  background-color:#c1e729;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
}

.humbergar{
  width: 35px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
}

.humbergar span{
  width: 30px;
  height: 2px;
  background-color:#c1e729;
  border-radius: 3px;
  position: absolute;
}

.humbergar span:nth-child(1){
  top:0;
}

.humbergar span:nth-child(2){
  top:5px;
}

.humbergar span:nth-child(3){
  top:10px;
}

.humbergar span:nth-child(4){
  top:15px;
}


@media(min-width:576px){

}

@media(min-width:768px){
    .contactdtl li a{
    padding: 10px 12px;
    display: block;
  }

  .contactdtl li:nth-child(2) a{
    border-left:solid 1px lightgray; 
    border-right:solid 1px lightgray; 
  }

  .contactdtl{
    max-width:480px; 
  }

  .sitenav ul li{
    display: inline-block;
    margin:5px 4px;
  }

  .sitenav ul li a{
  
  }

}

@media(min-width:992px){

  .sitenav ul{
    max-width: 
  }
  .sitenav ul li{
    display: inline-block;
    margin:5px 0px 5px 30px;
  }
}

@media(min-width:1200px){
  
}



